#view-signin-service.view
	.titlebar
		.statusbar
		.wrap
			.btn-right
				.inner
					.label Cancel
			.title &nbsp;
	.container.scrollable
		.form
			.wrap
				.line
					input(type='text', id='view-signin-service-field-firstName', placeholder='First Name', autocomplete='off')
				.line
					input(type='text', id='view-signin-service-field-lastName', placeholder='Last Name', autocomplete='off')
				.line
					input(type='email', id='view-signin-service-field-email', placeholder='Email Address', autocomplete='off')
				.line
					input(type='url', id='view-signin-service-field-website', placeholder='Website', autocomplete='off')
				.line.select
					.label Get alerts &amp; notifications
					.switcher.on
						input(id='view-signin-service-field-alertsNotifications', type='hidden', value='yes', autocomplete='off')
		.footer
			.action-submit.btn-plain Submit

