#view-signin.view
	.titlebar
		.statusbar
		.wrap
			.btn-right
				.inner
					.label Cancel
			.title Sign in
	.container
		.btn-service.btn-github(data-service='github'): .action
		.btn-service.btn-facebook(data-service='facebook'): .action
		.btn-service.btn-google(data-service='google'): .action
		.btn-service.btn-twitter(data-service='twitter'): .action
		.btn-service.btn-email(data-service='email'): .action